@model MovieBorrower.Models.GenreMovies

@{
    ViewData["Title"] = "Movies in Selected Genre";
}

<h2>Movies in Selected Genre</h2>


<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Title
            </th>
            <th>
                Overview
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Movie", new { id = item.Id })">
                        @{
                            var url = "https://image.tmdb.org/t/p/w185_and_h278_bestv2" + item.PosterPath;
                        }
                        <img src="@url">
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Movie", new { id = item.Id })">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overview)
                </td>
            </tr>
                            }
    </tbody>
</table>
<div>
    <a asp-controller="Movie" asp-action="Index">Back to List</a>
</div>
